.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffd569;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 50%;
  border-radius: 15px;
  padding: 40px;
  padding-bottom: 70px;
}

.heading {
  font-size: 30px;
  font-family: 'Roboto';
  margin-bottom: 25px;
  padding: 30px;
}

.img {
  width: 150px;
  height: 150px;
}

.button {
  width: 100px;
  height: 35px;
  border-width: 0px;
  background-color: #007bff;
  color: white;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
}

.bottom-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  padding: 15px;
}

.span-element {
  color: #ffd569;
  font-weight: bold;
}

.botom-inner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
}
